.user-container{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
      padding:5px;
        margin-bottom: 10px;
      border-radius:5px;
        max-width:300px;
    
    }
    
    .user-avatar{
      border-radius:50%;
        height:100px;
      width:100px;
    }
    
    